
user www-data;
worker_processes auto;
pid /run/nginx.pid;
error_log /var/log/nginx/error.log;
include /etc/nginx/modules-enabled/*.conf;

events {}

http {
	server {
		listen 80;
		server_name 172.0.0.1;

		location / {
			# root points to the folder where your built frontend files reside.
			root /var/www/shelly-dirigent/frontend/;
			# try_files will attempt to serve the requested file, if not found (e.g. for client-side routing), fallback to index.html
			index /index.html;
		}

		location /api/ {
			proxy_pass http://127.0.0.1:8000;
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
		}
	}
}

# curl https://172.20.191.182/

    # server {
    #     listen 80;
    #     server_name 192.168.178.24 localhost; # IP meiner Maschine, eventuell ändern
        
    #     # return 301 https://$host$request_uri;
    # }

    # server {
    #     listen 443;	# ssl http2;
    #     server_name 192.168.178.24 localhost;  # IP hier auch ändern

    #     # ssl_certificate /etc/nginx/ssl/localhost.crt;      # Wenn du kein SSL benutz dann das hier entfernen
    #     # ssl_certificate_key /etc/nginx/ssl/localhost.key;  # Das hier ebenfalls entfernen
        
    #     # ssl_protocols TLSv1.2 TLSv1.1 TLSv1;               # Das hier auch entfernen

    #     root /frontend/dist;  # Hier ist bei mir die index.html Datei von React
    #     index index.html;
        
    #     location /api/ {
    #         proxy_pass http://127.0.0.1:8000;
    #         proxy_set_header Host $host;
    #         proxy_set_header X-Real-IP $remote_addr;
    #         proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for; 
    #         proxy_set_header X-Forwarded-Proto $scheme;
    #     }
    # }
# }
